
.App-header {
  background-color: #7736c9;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

* {
  font-family: sans-serif;
  margin: 0;
}
button {
  height: 40px;
  width: 200px;
}
.correct {
  background-color: green;
  text-align: center;
  width: 50%;
  padding: 10px;

  font-size: 14pt;
  color: blue;
}
.wrong {
  background-color: red;
  text-align: center;
  width: 50%;
  padding: 10px;

  font-size: 14pt;
  color: white;
}
